<div class="journal-entry">
<h3><%= journal_entry.title %></h3>
<p><%= journal_entry.content %></p>
<p>By: <%= journal_entry.user.username %></p>
<%= link_to "Edit", edit_journal_entry_path(journal_entry) %>
</div>  